.btn-cont {
  width: 85%;
  margin: 0 auto;
  background: none;
  display: flex;
  justify-content: space-around;
  position: relative;
  /* left: -73px; */
}

.btn-cont-mobile {
  display: none;
}

button.view {
  align-self: flex-end;
  height: 50px;
  width: 100%;
  border: none;
  border-top: 1px solid gray;
  background-color: #1f1e1e;
  /* box-shadow: inset 0px 0px 40px 40px rgba(128, 128, 128, 0.1); */
  font-size: 1.2em;
  transition: all 350ms ease-in-out;
}

button.view:hover {
  transition: all 350ms ease-in-out;
  height: 75px;
}

button.scroll {
  width: 5em;
  height: 4em;
  border-radius: 50%;
  background-color: #151515;
  opacity: 0.8;
  color: #ffa260;
  border: 2px solid;
  padding: 1em 2em;
  font-size: 1em;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

button.scroll:hover {
  color: #fff;
  border-color: #f1ff5c;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  /* transform: translateY(-0.25em); */
  transform: scale(0.9);
  cursor: pointer;
}

button.scroll:active {
  color: #f1ff5c;
}

.carousel-container {
  width: 40vw;
  height: 84vh;
  /* margin: 1vw 7vw; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(128, 128, 128, 0.5);
  border-radius: 5px;
  box-shadow: 0px 0px 10px gray;
}

.carousel-image {
  width: 300px;
  height: 300px;
}

.empty {
  height: 30%;
}

.left {
  margin-right: 50px;
}

.right {
  margin-left: 80%;
}

.slide {
  margin-top: 1em;
  opacity: 0;
  transition-duration: 1s ease-in-out;
}

.slide.active {
  margin-top: 1em;
  opacity: 1;
  transition-duration: 1s ease-in-out;
  animation: rotateY 300ms ease-in-out forwards;
  transform-origin: center;
}

.top-image-c {
  width: 300px;
  height: 300px;
  margin: 25px;
  border-radius: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(128, 128, 128, 0.2);
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.3);
}

.top-num-display-c {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4em;
  height: 2.4em;
  border-radius: 25px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  box-shadow: 0px 0px 5px gray;
}

.top-text-display-c {
  text-align: center;
  width: 60%;
  height: auto;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  box-shadow: 0px 0px 5px gray;
  z-index: 1;
  position: relative;
  top: 3px;
  /* border-bottom: none; */
}

.top-text {
  position: absolute;
  align-self: flex-start;
  font-size: 1.5em;
  margin: 1.5em 0;
}

@keyframes rotateY {
  0% {
    transform: rotateY(90deg);
  }
  80% {
    transform: rotateY(-10deg);
  }
  100% {
    transform: rotateY(0);
  }
}

@media screen and (min-width: 1500px) {
  .btn-cont {
    width: 100%;
    justify-content: space-between;
    position: relative;
    left: -66px;
  }

  button.scroll {
    width: 5em;
    height: 4em;
    border-radius: 50%;
    padding: 1em 2em;
    font-size: 1em;
    transform: scale(1.1);
  }
  button.scroll:hover {
    transform: scale(1);
  }

  .top-image-c {
    width: 400px;
    height: 400px;
  }

  .top-num-display-c {
    width: 3em;
    height: 3em;
  }
}

@media screen and (max-width: 1000px) {
  .btn-cont-mobile {
    display: flex;
  }

  .btn-cont {
    display: none;
  }

  button.scroll {
    width: 5em;
    height: 4em;
    border-radius: 50%;
    padding: 1em 2em;
    font-size: 1em;
    transform: scale(1);
  }
  button.scroll:hover {
    transform: scale(1);
  }

  .carousel-container {
    width: 40vw;
    height: 87vh;
    /* margin: 1vw 4vw; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    border: 2px solid gray;
    border-radius: 5px;
    box-shadow: 1px 0px 10px gray;
  }

  .carousel-image-container {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .slide {
    opacity: 0;
    transition-duration: 1s ease-in-out;
  }

  .slide.active {
    opacity: 1;
    transition-duration: 1s ease-in-out;
    animation: rotateY 300ms ease-in-out forwards;
    transform-origin: center;
  }

  .top-image-c {
    width: 260px;
    height: 260px;
  }

  .top-num-display-c {
    width: 2.4em;
    height: 2.4em;
  }

  .top-text-display-c {
    width: 70%;
  }

  .top-text {
    position: relative;
    align-self: center;
    font-size: 1.5em;
    margin: 1.5em 0;
  }
}

@media screen and (max-width: 701px) {
  .btn-cont-mobile {
    display: none;
  }

  .btn-cont {
    width: 60%;
    margin: 0 auto;
    background: none;
    display: flex;
    justify-content: space-around;
    position: relative;
    /* left: -73px; */
  }
  button.view {
    height: 40px;
    border: none;
    border-top: 1px solid gray;
    background-color: #1f1e1e;
    /* box-shadow: inset 0px 0px 40px 40px rgba(128, 128, 128, 0.1); */
    font-size: 1em;
    transition: all 350ms ease-in-out;
  }
  button.view:hover {
    height: 50px;
  }
  .carousel-container {
    width: 84vw;
    height: 41vh;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: center;
    border: 2px solid rgba(128, 128, 128, 0.5);
    border-radius: 5px;
    box-shadow: 0px 0px 10px gray;
  }
  .top-image-c {
    width: 200px;
    height: 200px;
  }
  .top-text {
    position: relative;
    align-self: center;
    font-size: 1.2em;
    margin: 5px 0 0 0;
  }
  .top-text-display-c {
    width: 80%;
  }
}
