div.noStats {
  width: 40vw;
  height: 87vh;
  margin: 1vw 7vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
  border-radius: 5px;
  box-shadow: 1px 0px 10px gray;
  font-size: 2em;
  text-align: center;
  padding: 1.5em;
}

section.carousel-section {
  max-width: 100%;
  height: 91vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 701px) {
  section.carousel-section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 0 0 0;
  }
}
