* {
  background-color: #151515;
  color: #f7f7f7;
  font-family: "DotGothic16", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

.title {
  font-size: 8rem;
  color: #f7f7f7;
}

.text {
  font-size: 1.5rem;
}
