body {
  background-color: #151515;
}

.logo {
  background-color: #1f1e1e;
  font-size: 2em;
  cursor: pointer;
  width: 200px;
}

.navWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: #1f1e1e;
}

.player-link {
  color: #f7f7f7;
  transition: all 200ms ease-in-out;
  width: 200px;
  text-align: center;
  justify-self: center;
  /* position: relative;
  left: -10px; */
}

.player-link:hover {
  transition: all 200ms ease-in-out;
  color: #f7f7f7;
  opacity: 0.7;
}

.userInfo-and-profilePic {
  display: flex;
  justify-content: space-between;
  width: 200px;
  height: 100%;
  background-color: #1f1e1e;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5vw;
  color: white;
  background-color: #1f1e1e;
}

.username {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100%;
  align-items: center;
  text-align: center;
  line-height: 1.5;
}

.userRole {
  display: flex;
  height: 1vh;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-size: 0.7rem;
}

.profilePic {
  background-color: #1f1e1e;
  padding: 0vh 1vw;
}

header {
  background-color: #1f1e1e !important;
  box-shadow: 0px -1px 10px #444343;
}

@media screen and (max-width: 900px) {
  /* header.ant-layout-header.header {
    padding: 0 1.5em;
  } */
  /* div.navWrapper {
    font-size: 0.9em;
  } */
  .profilePic {
    transform: scale(0.8);
    background-color: #1f1e1e;
  }
}

@media screen and (max-width: 640px) {
  header.ant-layout-header.header {
    padding: 0 1.5em;
  }
  div.navWrapper {
    font-size: 0.8em;
    justify-content: space-around;
  }
  .logo {
    font-size: 32px;
  }
}

@media screen and (max-width: 520px) {
  header.ant-layout-header.header {
    padding: 0 1em;
  }
  div.navWrapper {
    font-size: 0.7em;
    justify-content: space-around;
  }
  .logo {
    font-size: 24px;
  }
}
