.logo {
  background-color: #1f1e1e;
  font-size: 2em;
  cursor: pointer;
  width: 200px;
  transition: all 200ms ease-in-out;
}

.logo:hover {
  transition: all 200ms ease-in-out;
  opacity: 0.7;
}

.logout {
  animation: rotateMenu 400ms ease-in-out forwards;
  transform-origin: top center;
  cursor: pointer;
  display: none;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 1);
  position: absolute;
  top: 65px;
  background-color: rgba(31, 30, 30, 0);
  height: 64px;
  width: 8em;
  z-index: 1;
  transition: all 200ms ease-in-out;
}

.logout:hover {
  transition: all 200ms ease-in-out;
  color: #f7f7f7;
  opacity: 0.7;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: #1f1e1e;
}

.player-link {
  color: #f7f7f7;
  transition: all 200ms ease-in-out;
  width: 200px;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.player-link:hover {
  transition: all 200ms ease-in-out;
  color: #f7f7f7;
  opacity: 0.7;
}

.profile-pic {
  cursor: default;
  position: relative;
}

.profile-pic:hover .logout {
  display: inline-block;
}

.user-info {
  cursor: default;
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
  width: 200px;
  height: 100%;
}

.user-info:hover {
  height: 200%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top: none;
  z-index: 1;
  background-color: rgb(31, 30, 30, 0.9);
  box-shadow: 0 -1px 10px #444343;
  box-shadow: 0 8px 16px 0 #444343;
}

.user-info:hover .logout {
  display: inline-block;
}

.user-info:hover .username {
  height: 50%;
}

.username {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100%;
  align-items: center;
  text-align: center;
  line-height: 1.5;
}
header {
  background-color: #1f1e1e !important;
  box-shadow: 0 -1px 10px #444343;
}

@keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@media screen and (max-width: 640px) {
  .profile-pic {
    transform: scale(0.8);
    /* position: relative;
    top: -7px; */
  }
  .user-info:hover .profile-pic {
    position: relative;
    top: -6px;
  }
  header.ant-layout-header.header {
    padding: 0 1.5em;
  }
  div.nav-wrapper {
    font-size: 0.8em;
    justify-content: space-around;
  }
  .logo {
    font-size: 32px;
  }
}

@media screen and (max-width: 520px) {
  header.ant-layout-header.header {
    padding: 0 1em;
  }
  div.nav-wrapper {
    font-size: 0.7em;
    justify-content: space-around;
  }
  .logo {
    font-size: 24px;
  }
}

@media screen and (max-width: 390px) {
  .logo {
    font-size: 20px;
  }
}
