.lyrics {
  height: 100%;
  width: 80vw;
  line-height: 1.5;
  text-align: center;
}

.player-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
}

.player {
  margin-top: 10px;
}

.player-display {
  margin: 10px;
  overflow-y: scroll;
}

.player-div {
  width: 100%;
}

.search-result {
  box-shadow: 0px 0px 5px -2px gray;
}

.search-results {
  width: 80vw;
}

@media screen and (max-width: 1199px) {
  div.bc-player {
    width: 125px;
  }
  .search-results {
    width: 70vw;
  }
  .lyrics {
    width: 70vw;
    text-align: center;
  }
}

@media screen and (max-width: 992px) {
  input.form-control-player {
    width: 65% !important;
  }
  .lyrics {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 660px) {
  .search-results {
    width: 80vw;
  }
  .lyrics {
    width: 80vw;
  }
}

@media screen and (max-width: 575px) {
  .search-results {
    width: 95vw;
  }
  .lyrics {
    font-size: 0.8em;
    height: 50vh;
    width: 95vw;
    line-height: 1.5;
  }
}

@media screen and (max-width: 413px) {
  .lyrics {
    font-size: 0.6em;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #555;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(241, 241, 241, 0.6);
}
