.bc {
  transition: all 150ms ease-in-out;
}

.bc:hover {
  transition: all 150ms ease-in-out;
  opacity: 0.7;
}

.bc-active {
  opacity: 0.7;
  cursor: default;
}

div.breadcrumbs {
  width: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

div.breadcrumbs svg {
  position: relative;
  top: -3px;
  margin: 0 8px 0 0;
}

input.form-control {
  width: 40%;
  position: relative;
  left: -30px;
}

.feedback {
  text-align: center;
  font-size: 16px;
  padding: 0 5px;
  transition: all 150ms ease-in-out;
}

.feedback:hover {
  cursor: pointer;
  transition: all 150ms ease-in-out;
  opacity: 0.7;
}

.shadow {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  transition: all 150ms ease-in-out;
}

/* IN CASE OF FUTURE ADDITIONS TO GET INFORMATION ABOUT ARTISTS/TRACKS */
/* .shadow:hover {
  background-color: rgba(0, 0, 0, 0.3);
  background-color: rgba(33, 33, 33, 0.3);
  transition: all 150ms ease-in-out;
} */

.toolbar {
  padding: 0 50px;
  width: 100%;
  height: 15vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.top-display {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.top-image {
  width: 300px;
  height: 300px;
  margin: 25px;
  border-radius: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(128, 128, 128, 0.2);
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.3);
}

.top-num-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4em;
  height: 2.4em;
  border-radius: 25px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  box-shadow: 0px 0px 5px gray;
}

.top-switch {
  display: flex;
  align-items: center;
  margin: 0 20px 0 0;
}

.top-text-display {
  text-align: center;
  width: 60%;
  height: auto;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  box-shadow: 0px 0px 5px gray;
  z-index: 1;
  position: relative;
  top: 3px;
}

.wiggle {
  display: inline-block;
  backface-visibility: hidden;
  transform: translateZ(0px);
  animation-duration: 6000ms;
  animation-name: wiggle;
  animation-play-state: running;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  74% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(4deg);
  }

  80% {
    transform: rotate(-2deg);
  }

  85% {
    transform: rotate(4deg);
  }

  90% {
    transform: rotate(-2deg);
  }

  95% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (min-width: 1500px) {
  .top-image {
    width: 400px;
    height: 400px;
  }

  .top-num-display {
    width: 3em;
    height: 3em;
  }
}

@media screen and (max-width: 1080px) {
  .top-image {
    width: 180px;
    height: 180px;
  }

  .top-num-display {
    width: 2.4em;
    height: 2.4em;
  }
}

@media screen and (max-width: 900px) {
  .toolbar {
    padding: 0 1.5em;
    justify-content: space-around;
  }
  span.feedback.wiggle {
    font-size: 0.9em;
  }
  span.bc-active {
    font-size: 0.9em;
  }
  span.bc {
    font-size: 0.9em;
  }
  input.form-control {
    margin-left: 5px;
  }
}

@media screen and (max-width: 701px) {
  .top-image {
    width: 120px;
    height: 120px;
    margin: 15px;
    font-size: 0.6em;
  }

  .top-num-display {
    width: 2.4em;
    height: 2.4em;
  }

  .top-switch {
    display: flex;
    align-items: center;
  }

  .top-text-display {
    width: 80%;
    height: auto;
    padding: 5px;
    position: relative;
    top: 3px;
  }
  div.ant-breadcrumb {
    display: flex;
    flex-flow: column;
    text-align: center;
  }
  input.form-control {
    position: relative;
    left: 0px;
  }
}

@media screen and (max-width: 450px) {
  span.feedback.wiggle {
    font-size: 11.2px;
  }
  span.bc-active {
    font-size: 0.8em;
  }
  span.bc {
    font-size: 0.8em;
  }
  div.breadcrumbs svg {
    width: 12px;
    height: 12px;
    margin: 0 0 0 0;
  }
  .toolbar {
    padding: 0 0.5em;
    justify-content: space-between;
  }
}
@media screen and (max-width: 375px) {
  span.anticon-home svg {
    display: none;
  }
  span.anticon-user svg {
    display: none;
  }
  .toolbar {
    padding: 0 0.5em;
    justify-content: space-between;
  }
}

@import "~antd/dist/antd.dark.css";
